@import '../../../scss/defaultVariables.scss';

.logo {
  display: flex;
  align-items: center;
  padding: 0 24px 0 50px;
  border-right: 1px solid #e4e4e7;
  @media (max-width: 700px) {
    border-right: none;
    padding: 0 20px 0 20px;
  }

  &__img {
    width: 119px;
    height: 48px;

    @media screen and (max-width: 400px) {
      width: 90px;
      height: 36px;
    }
  }
  &__text {
    margin-left: 29px;
    color: $gray-text;
    font-size: 13px;

    @media (max-width: 700px) {
      display: none;
    }
  }
}
