@import '../../scss/defaultVariables.scss';

.cart {
  width: 384px;
  max-height: 500px;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 4px 4px;
  background-color: #fff;
  overflow-y: auto;

  &__summary {
    margin: 20px 24px 24px 24px;
  }

  &__button {
    width: 100%;
    height: 46px;
    border: none;
    background: $system-green;
    margin-top: 20px;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    cursor: pointer;
  }

  &__cartEmpty {
    display: flex;
    justify-content: center;
    padding: 24px;
  }
}
