@import '../../../scss/defaultVariables.scss';

.catalog {
  display: flex;
  align-items: center;
  padding: 0 50px;
  border-right: 1px solid #e4e4e7;
  @media screen and (max-width: 1445px) {
    display: none;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 15px;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    color: #222427;
    font-weight: 500;
  }

  &__text {
    color: $gray-text;
    font-size: 13px;
    font-weight: 400;
    margin-left: 44px;
  }
}
