@import '../../scss/defaultVariables.scss';

.header {
  max-width: 1920px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  position: relative;

  &__wrapper_top {
    max-width: 1920px;
    display: grid;
    grid-template-columns: 384px 1fr 1fr 384px;
    height: 80px;

    @media screen and (max-width: 1576px) {
      grid-template-columns: 384px 1fr 384px;
    }
    @media screen and (max-width: 1143px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 496px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__wrapper_bottom {
    display: grid;
    grid-template-columns: 384px 1fr 384px;
    height: 80px;
    @media screen and (max-width: 1445px) {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    border-right: 1px solid #e4e4e7;
  }

  &__divider {
    border-bottom: 1px solid #e4e4e7;
    @media screen and (max-width: 1445px) {
      display: none;
    }
  }
}
