@import '../../../scss/defaultVariables.scss';

.contacts {
  display: flex;
  align-items: center;
  padding: 0 25px;

  @media screen and (max-width: 1143px) {
    justify-content: space-around;
  }

  @media screen and (max-width: 764px) {
    justify-content: center;
  }
  @media screen and (max-width: 400px) {
    padding: 0 20px;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    @media screen and (max-width: 400px) {
      padding: 0;
    }
  }

  &__socialLink {
    height: 24px;
    margin: 0;
  }

  &__tel {
    color: #222427;
    text-decoration: none;
    font-weight: 500;
    font-style: normal;
    margin-left: 8px;
  }

  &__callMeButton {
    color: $green-text;
    font-size: 15px;
    margin-left: 24px;
    background: none;
    border: none;
    cursor: pointer;

    @media screen and (max-width: 764px) {
      display: none;
    }
  }
}
