.app {
  height: 100vh;
  background-color: rgb(110, 145, 103);

  &__main {
    padding: 50px;
  }

  &__exampleList {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    gap: 20px;
  }
}
